<nav class="navbar is-fixed-top">
    <div id="navbarMenuHeroC" class="navbar-menu">
        <ul class="navbar-end">
          <a href="/app-home" target="_self" class="navbar-item">
            Home
          </a>
          <a href="/app-projects" class="navbar-item">
            Projects
          </a>
          <a href="/app-links" class="navbar-item">
            Links
        </a></ul>
    </div>
</nav>

<section class="hero is-warning is-fullheight">
    <div style="justify-content: space-between;" class="hero-body">

        <ul class="menu-list">
            <li><a href="https://www.github.com/tinaismail" class="navbar-item"><span style="font-size: 40px;"><fa-icon [icon]="faGithub"></fa-icon></span></a></li>
            <li><a href="https://www.linkedin.com/in/tina-ismail" class="navbar-item"><span style="font-size: 40px;"><fa-icon [icon]="faLinkedin"></fa-icon></span></a></li>
            <li><a href="#" class="navbar-item"><span style="font-size: 40px;"><fa-icon [icon]="faTwitter"></fa-icon></span></a></li>
        </ul>

        <div class="has-text-centered">
            <p class="title">
            Tina Ismail
            </p>
            <p class="subtitle">
            developer
            </p>
        </div>

        <img src="../../assets/turkey2.png">
    
</div>
      
      
  </section>